<div class="mx-auto text-white">
  <div class="flex flex-wrap justify-center space-x-4 lg:pb-8 pb-2">
    <div
      class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-[#0A6222] flex items-center justify-center text-white font-bold text-lg md:text-2xl"
    >
      1
    </div>
    <p
      class="text-center justify-center hidden lg:block pt-4 text-xl font-bold"
    >
      Szolgáltatás Választás
    </p>
    <div
      class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-[#0A6222] flex items-center justify-center text-white font-bold text-lg md:text-2xl"
    >
      2
    </div>
    <p
      class="text-center justify-center hidden lg:block pt-4 text-xl font-bold"
    >
      Szállítási adatok
    </p>
    <div
      class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-[#0A6222] flex items-center justify-center text-white font-bold text-lg md:text-2xl"
    >
      3
    </div>
    <p
      class="text-center justify-center hidden lg:block pt-4 text-xl font-bold"
    >
      Fizetés
    </p>
    <div
      class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-[#0A6222] flex items-center justify-center text-white font-bold text-lg md:text-2xl"
    >
      4
    </div>
    <p
      class="text-center justify-center hidden lg:block pt-4 text-xl font-bold"
    >
      Visszaigazolás
    </p>
  </div>
</div>

<div class="md:max-w-3xl rounded-xl mx-auto mt-2 bg-[#595656] px-8 py-4">
    <div class="text-green-500 mx-auto mb-6 text-center text-3xl">
        <svg
        class="w-16 h-16 text-green-500 mx-auto mb-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
        Sikeres fizetés
    </div>

    <div class="justify-center text-center pt-16">
      <button
        routerLink="/user/my-order"
        class="bg-[#EEEEEE] opacity-80 text-[#0A6222] rounded-full px-8 py-4 font-extrabold"
      >
        RENDELÉSEIM
      </button>
    </div>

</div>
