<div class="md:max-w-3xl rounded-xl mx-auto mt-2 bg-[#595656] px-8 py-4">

    <div class="flex items-center justify-center" *ngIf="loading">
        <div class="text-center my-12 w-md mx-auto">
            <div class="w-16 h-16 border-4 border-dashed rounded-full animate-spin border-yellow-500 mx-auto"></div>
            <h2 class="text-zinc-900 dark:text-white mt-4">Loading...</h2>
            <p class="text-zinc-600 dark:text-zinc-400">
                Your adventure is about to begin
            </p>
        </div>
    </div>

    <div class="py-2" *ngIf="!loading">

        <div class="flex justify-start gap-8 items-center py-2 border-b border-white pb-4">
            <div class="text-white">
                <span class="font-bold text-xl">
                    {{ subscription.dsecription ?? subscription.customer_details.email }}
                </span>
                <span class="text-sm">
                    {{ " on " + subscription.plan.product_details.name }}
                </span>
            </div>
        </div>

        <div class="text-white pt-4 pb-2 mb-2 text-sm flex justify-start items-center">
            <div class="border-r border-white pr-4 flex flex-col gap-1">
                <div class="font-bold">Started</div>
                <div class="">{{ subscription.start_date * 1000 | date: 'MMM dd' }}</div>
            </div>
            <div class="px-4 flex flex-col gap-1">
                <div class="font-bold">Next invoice</div>
                <div class="">
                    {{
                        subscription.plan.amount / 100 + " " + subscription.plan.currency.toUpperCase()
                    }}
                    on
                    {{
                        next_invoice()
                    }}
                </div>
            </div>
        </div>

    </div>

</div>