<div
  class="md:max-w-3xl rounded-xl mx-auto mt-2 bg-[#595656] px-8 py-4 relative"
>

  <div class="text-white mx-auto mb-12 text-center text-xl">Tagságom</div>

  <div class="flex gap-4">
    <div
      class="flex items-center justify-between gap-0 bg-white p-3 rounded-xl w-32"
    >
      <div class="box bronze">
        <span class="material-symbols-outlined"> crown </span>
      </div>
      <div class="text-bronze text-lg">Bronz</div>
    </div>

    <div class="bg-white grow p-3 rounded-xl">ss</div>
  </div>

  <div class="flex gap-4 mt-6">
    <button
    class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
    >Lemondás</button>

    <button
    class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
    >Fejlesztés</button>

    <button
    class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
    >Lemondás</button>
  </div>
</div>
