<div
  class="md:max-w-3xl text-xl rounded-xl mx-auto mt-0 mb-4 px-8 py-4 flex gap-8 items-center justify-center text-white"
>
  <div routerLink="/account" class="cursor-pointer">Felhasználói adatok</div>

  <div routerLink="/my-order" class="cursor-pointer">Rendeléseim</div>
</div>
<div class="md:max-w-3xl rounded-xl mx-auto mt-2 bg-[#595656] px-8 py-4">

  <div class="text-white mx-auto mb-12 text-center text-xl">Rendeléseim</div>

  <table class="mb-12">
    <thead class="text-white text-xs">
      <tr class="border-b border-gray-200">
        <th scope="col" class="px-4 py-3">Rendelés azonosító</th>
        <th scope="col" class="px-4 py-3">Dátum</th>
        <th scope="col" class="px-4 py-3">Státusz</th>
        <th scope="col" class="px-4 py-3">Ár</th>
        <th scope="col" class="px-4 py-3">Kézbesítés</th>
        <th scope="col" class="px-4 py-3">Visszaszolgáltatás</th>
        <th scope="col" class="px-4 py-3"></th>
      </tr>
    </thead>
    <tbody class="text-white text-sm">
      <tr class="border-b border-gray-200">
        <td class="px-4 py-3">Hétvégi#0012</td>
        <td class="px-4 py-3">2025.01.01</td>
        <td class="px-4 py-3">Szállítás</td>
        <td class="px-4 py-3">30000 Ft</td>
        <td class="px-4 py-3">2025.01.02</td>
        <td class="px-4 py-3">2025.01.05</td>
        <td class="px-4 py-3">
          <button
            class="bg-[#EEEEEE] opacity-60 text-xs text-[#0A6222] rounded-full px-2 py-1 font-extrabold"
          >
            <span class="material-symbols-outlined text-sm"> visibility </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-white mx-auto mb-12 text-center text-xl">Archivált rendeléseim</div>

  <table class="mb-12">
    <thead class="text-white text-xs">
      <tr class="border-b border-gray-200">
        <th scope="col" class="px-4 py-3">Rendelés azonosító</th>
        <th scope="col" class="px-4 py-3">Dátum</th>
        <th scope="col" class="px-4 py-3">Státusz</th>
        <th scope="col" class="px-4 py-3">Ár</th>
        <th scope="col" class="px-4 py-3">Kézbesítés</th>
        <th scope="col" class="px-4 py-3">Visszaszolgáltatás</th>
        <th scope="col" class="px-4 py-3"></th>
      </tr>
    </thead>
    <tbody class="text-white text-sm">
      <tr class="border-b border-gray-200">
        <td class="px-4 py-3">Hétvégi#0012</td>
        <td class="px-4 py-3">2025.01.01</td>
        <td class="px-4 py-3">Szállítás</td>
        <td class="px-4 py-3">30000 Ft</td>
        <td class="px-4 py-3">2025.01.02</td>
        <td class="px-4 py-3">2025.01.05</td>
        <td class="px-4 py-3">
          <button
            class="bg-[#EEEEEE] opacity-60 text-xs text-[#0A6222] rounded-full px-2 py-1 font-extrabold"
          >
            <span class="material-symbols-outlined text-sm"> visibility </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
