<div

    class="md:max-w-3xl rounded-full h-20 mx-auto mt-2 bg-[#595656] flex gap-4 py-2 px-4 items-center justify-between relative text-white font-medium">
    <div class="w-14 h-14 ml-2 mr-4">
        <img class="w-full h-full object-contain" src="./logo.png" alt="">
    </div>
    <div class="hidden md:block">
        <div class="flex items-center justify-center cursor-pointer p-2 gap-8 w-full">
            <div class="flex items-center justify-center cursor-pointer p-2" (click)="toggleDropdown()">
                <div>
                    Szolgáltatások
                </div>
                <div class="flex items-center justify-center mt-1">
                    <span class="material-symbols-outlined" *ngIf="!dropdown">arrow_drop_down</span>
                    <span class="material-symbols-outlined" *ngIf="dropdown">arrow_drop_up</span>
                </div>
            </div>
            <div *ngIf="dropdown"
                class="absolute bg-[#595656] top-16 left-32 right-0 w-48 p-2 rounded-lg border-[#E9EAEB]">

                <div class="flex items-center justify-left cursor-pointer p-2 gap-2">
                    <div class="flex items-center justify-center mt-1">
                        <span class="material-symbols-outlined">
                            stadia_controller
                        </span>
                    </div>
                    <div>
                        <a routerLink="/home">Eszközök</a>
                    </div>
                </div>

                <div class="flex items-center justify-left cursor-pointer p-2 gap-2">
                    <div class="flex items-center justify-center mt-1">
                        <span class="material-symbols-outlined">
                            electrical_services
                        </span>
                    </div>
                    <div>
                        <a routerLink="/home">Játékok</a>
                    </div>
                </div>

                <div class="flex items-center justify-left cursor-pointer p-2 gap-2">
                    <div class="flex items-center justify-center mt-1">
                        <span class="material-symbols-outlined">
                            celebration
                        </span>
                    </div>
                    <div>
                        <a routerLink="/home">Rendezvények</a>
                    </div>
                </div>

                <div class="flex items-center justify-left cursor-pointer p-2 gap-2">
                    <div class="flex items-center justify-center mt-1">
                        <span class="material-symbols-outlined">
                            delivery_truck_speed
                        </span>
                    </div>
                    <div>
                        <a routerLink="/home">Szállítás</a>
                    </div>
                </div>

                <div class="flex items-center justify-left cursor-pointer p-2 gap-2">
                    <div class="flex items-center justify-center mt-1">
                        <span class="material-symbols-outlined">
                            live_help
                        </span>
                    </div>
                    <div>
                        <a routerLink="/home">Segítség</a>
                    </div>
                </div>

            </div>
            <div class="flex gap-8">
                <div class="p-2 mr-3">
                    <a routerLink="/contact">Kapcsolat</a>
                </div>
                <div class="p-2">
                    <a routerLink="/club-card">Tagság</a>
                </div>
                <div class="p-2">
                    <a routerLink="/login" class="flex items-center justify-center mt-0.5 ml-2" *ngIf="!loggedIn">
                        <span class="material-symbols-outlined">
                            person_add
                        </span>
                    </a>
                    <a routerLink="/account" class="flex items-center justify-center mt-0.5 ml-2" *ngIf="loggedIn">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <button routerLink="/rent" class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-bold">
            BÉRLÉS
        </button>
    </div>
</div>