
<div class="mx-auto text-white">
        
    <div class="flex flex-wrap justify-center space-x-4 lg:pb-8 pb-2">
      <div class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-blue-500 flex items-center justify-center text-white font-bold text-lg md:text-2xl">1</div>
      <p class="text-center justify-center">Szolgáltatás Választás</p>
      <div class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-green-500 flex items-center justify-center text-white font-bold text-lg md:text-2xl">2</div>
      <p>Szállítási adatok</p>
      <div class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-red-500 flex items-center justify-center text-white font-bold text-lg md:text-2xl">3</div>
      <p>Fizetés</p>
      <div class="w-12 h-12 md:w-16 md:h-16 rounded-full bg-yellow-500 flex items-center justify-center text-white font-bold text-lg md:text-2xl">4</div>
      <p>Visszaigazolás</p>
    </div>
 </div>

<div class="md:max-w-3xl rounded-xl mx-auto mt-2 bg-[#595656] px-8 py-4">
    

    <div class="text-white mx-auto mb-10 text-center font-bold text-3xl">
      Személyes adatok
    </div>
  
    <div>
      <div class="flex flex-row gap-4 items-center justify-center">
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Vezetéknév
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="text"
            placeholder="Vezetéknév"
          />
        </div>
  
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Keresztnév
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="text"
            placeholder="Keresztnév"
          />
        </div>
      </div>
  
      <div class="flex flex-row gap-4 items-center justify-center">
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Város
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="text"
            placeholder="Város"
          />
        </div>
  
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Irányítószám
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="number"
            placeholder="Irányító szám"
          />
        </div>
      </div>
    </div>
  
   
  
    
  
    <div>
      <div class="flex flex-row gap-4 items-start justify-start">
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Utca
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="text"
            placeholder="Utca"
          />
        </div>
        <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Házszám
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="number"
              placeholder="Házszám"
            />
          </div>
        

      </div>
  
      <div class="flex flex-row gap-4 items-center justify-center">
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Emelet
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
           
            type="number"
            placeholder="Emelet"
          />
        </div>
  
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Telefon
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="phone"
            placeholder="Telefon"
          />
        </div>
      </div>

      <div class="flex flex-row gap-4 items-start justify-start">
        <div class="mb-4 w-full">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Email
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            
            type="email"
            placeholder="Email cím"
          />
          </div>
      </div>




    </div>
    <div class="mb-4">
      <label class=" block text-white font-bold">
          <input class="mr-2 leading-tight bg-gray-500 fill-gray-500" type="checkbox">
          <span class="text-xs">
              A Személyes adatok megeggyeznek a Szállítási címmel és a Számlázási címmel is.
          </span>
      </label>
  </div>

    <div class="text-white mx-auto mb-10 text-center font-bold text-3xl pt-16">
        Szállítási Cím
      </div>
    
      <div>
        <div class="flex flex-row gap-4 items-center justify-center">
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Város
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="text"
              placeholder="Város"
            />
          </div>
    
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Irányítószám
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="text"
              placeholder="Irányítószám"
            />
          </div>
        </div>
    
        <div class="flex flex-row gap-4 items-center justify-center">
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Utca
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="text"
              placeholder="Utca"
            />
          </div>
    
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Házszám
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="number"
              placeholder="Házszám"
            />
          </div>
        </div>

        <div class="flex flex-row gap-4 items-center justify-center">
            <div class="mb-4 w-full">
              <label class="block text-white text-sm font-bold mb-2" for="username">
                Emelet
              </label>
              <input
                class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
                
                type="text"
                placeholder="Utca"
              />
            </div>
      
            <div class="mb-4 w-full">
              <label class="block text-white text-sm font-bold mb-2" for="username">
                Vármegye
              </label>
              <input
                class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
                
                type="text"
                placeholder="Vármegye"
              />
            </div>
          </div>
    </div>

    <div class="text-white mx-auto mb-10 text-center font-bold text-3xl pt-16">
        Számlázási Cím
      </div>
    
      <div>
        <div class="flex flex-row gap-4 items-center justify-center">
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Város
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="text"
              placeholder="Város"
            />
          </div>
    
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Irányítószám
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="text"
              placeholder="Irányítószám"
            />
          </div>
        </div>
    
        <div class="flex flex-row gap-4 items-center justify-center">
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Utca
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="text"
              placeholder="Utca"
            />
          </div>
    
          <div class="mb-4 w-full">
            <label class="block text-white text-sm font-bold mb-2" for="username">
              Házszám
            </label>
            <input
              class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
              
              type="number"
              placeholder="Házszám"
            />
          </div>
        </div>

        <div class="flex flex-row gap-4 items-center justify-center">
            <div class="mb-4 w-full">
              <label class="block text-white text-sm font-bold mb-2" for="username">
                Emelet
              </label>
              <input
                class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
                
                type="text"
                placeholder="Utca"
              />
            </div>
      
            <div class="mb-4 w-full">
              <label class="block text-white text-sm font-bold mb-2" for="username">
                Vármegye
              </label>
              <input
                class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
                
                type="text"
                placeholder="Vármegye"
              />
            </div>
          </div>
    </div>

    <div class="justify-center text-center pt-16">
        <button routerLink="/rent-payment"
                    class="bg-[#EEEEEE] opacity-80 text-[#0A6222] rounded-full px-8 py-4 font-extrabold">
                    KÖVETKEZŐ
        </button>
    </div>

  </div>