<div class="md:container mx-auto px-10 text-white">

    <div class="mx-auto px-8">
        <div class="text-center text-3xl mb-4">Tagsági program</div>
        <div class="text-center text-base">
            <p>
                Fedezd fel a RentZone tagsági program nyújtotta előnyöket!
            </p>
            <p>
                Tagsági programunkkal jelentős kedvezményeket érhet el.
            </p>
            <p>
                Három(Bronz,Ezüst,Arany) különböző tagsági szint közül választhat,
            </p>
            <p>
                amelyek nemcsak pénztárcabarát megoldást kínálnak, hanem még kényelmesebbé teszik a bérlést.
            </p>
        </div>
    </div>

    <div class="text-center my-12" *ngIf="loading">
        <div class="w-16 h-16 border-4 border-dashed rounded-full animate-spin border-yellow-500 mx-auto"></div>
        <h2 class="text-zinc-900 dark:text-white mt-4">Loading...</h2>
        <p class="text-zinc-600 dark:text-zinc-400">
            Your adventure is about to begin
        </p>
    </div>

    <ng-template [ngIf]="!loading && subscription !== null">
        <div class="mb-12 mt-12 mx-auto max-w-md">
            <div class="text-white flex items-center gap-4 mb-4">
                <div>Jelenlegi szintem:</div>
                <div class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                    {{
                    nameFormat(subscription?.product?.name)
                    }}
                </div>
                <button routerLink="/user/club-card"
                class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
                    >
                    FEJLESZTÉS
                </button>
            </div>
            <div class="text-white">
                <div class="font-bold">Szintem előnyei:</div>
                <ul class="ml-8">
                    <li *ngFor="let benefit of subscription?.product?.benefits">{{ benefit }}</li>
                </ul>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="!loading && subscription == null">
        <div class="mx-auto px-8 my-12" *ngFor="let plan of plans | keyvalue">
            <div class="text-center text-4xl mb-12 font-bold">{{plan.value.name}}</div>
            <div class="flex md:flex-col flex-col gap-4 justify-center items-center">
                <div>
                    <div class="text-left text-xl mb-2"><span class="font-bold">Előnyök:</span></div>
                    <div>
                        <ul class="list-disc pl-16 font-bold">
                            <li *ngFor="let benefit of plan.value.benefits">{{benefit}}</li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <!-- Csomagok -->
                    <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg"
                        *ngFor="let subplan of plan.value.subplans; let i = index">
                        <div>{{ subplan.days }} nap</div>
                        <div>
                            <button (click)="activateSubplan(plans, plan.value, subplan)"
                                class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                                AKTIVÁLÁS
                            </button>
                        </div>
                        <div>
                            {{ subplan.price }} Ft
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>