<div class="md:container mx-auto px-10 text-white">

    <div class="mx-auto px-8">
        <div class="text-center text-3xl mb-4">Tagsági program</div>
        <div class="text-center text-base">
            <p>
                Fedezd fel a RentZone tagsági program nyújtotta előnyöket!
            </p>
            <p>
                Tagsági programunkkal jelentős kedvezményeket érhet el.
            </p>
            <p>
                Három(Bronz,Ezüst,Arany) különböző tagsági szint közül választhat,
            </p>
            <p>
                amelyek nemcsak pénztárcabarát megoldást kínálnak, hanem még kényelmesebbé teszik a bérlést.
            </p>
        </div>
    </div>

    <div class="mx-auto px-8 my-12">
        <div class="text-center text-6xl mb-12 font-bold">Bronz Tagság</div>
        <div class="flex md:flex-row flex-col gap-4 justify-center">
            <div>
                <div class="text-left text-xl mb-2"><span class="font-bold">Előnyök:</span></div>
                <div>
                    <ul class="list-disc pl-16 font-bold">
                        <li>10% kedvezmény (minden szolgáltatásra)</li>
                        <li>30%-kal kevesebb kaució</li>
                        <li>Szállítási költség mentesség</li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <!-- Csomagok -->
                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>30 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        1500 Ft
                    </div>
                </div>

                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>90 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        4000 Ft
                    </div>
                </div>

                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>365 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        16500 Ft
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="text-white mx-auto px-8 my-12 font-bold">
        <div class="text-center text-3xl mb-12">Ezüst Tagság</div>
        <div class="flex md:flex-row flex-col gap-4 justify-center">
            <div>
                <div class="text-left text-xl mb-2"><span class="font-bold">Előnyök:</span></div>
                <div>
                    <ul class="list-disc pl-16 font-bold">
                        <li>15% kedvezmény (minden szolgáltatásra)</li>
                        <li>50%-kal kevesebb kaució</li>
                        <li>Szállítási költség mentesség</li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <!-- Csomagok -->
                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>30 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        2500 Ft
                    </div>
                </div>

                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>90 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        7000 Ft
                    </div>
                </div>

                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>365 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        27500 Ft
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="text-white mx-auto px-8 my-12 font-bold">
        <div class="text-center text-3xl mb-12">Arany Tagság</div>
        <div class="flex md:flex-row flex-col gap-4 justify-center">
            <div>
                <div class="text-left text-xl mb-2"><span class="font-bold">Előnyök:</span></div>
                <div>
                    <ul class="list-disc pl-16 font-bold">
                        <li>20% kedvezmény (minden szolgáltatásra)</li>
                        <li>Kaució kaució</li>
                        <li>Szállítási költség mentesség</li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <!-- Csomagok -->
                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>30 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        4000 Ft
                    </div>
                </div>

                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>90 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        11000 Ft
                    </div>
                </div>

                <div class="border p-4 flex flex-col justify-between items-center gap-4 rounded-lg">
                    <div>365 nap</div>
                    <div>
                        <button routerLink="/rent"
                            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold">
                            AKTIVÁLÁS
                        </button>
                    </div>
                    <div>
                        48000 Ft
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>