<div class="md:conatiner mx-auto px-10 text-white">
  <div class="mx-auto px-8 my-12">
    <div class="flex md:flex-row flex-col gap-4 justify-center">
      <div class="py-4 lg:py-44">
        <div
          class="text-4xl text-center lg:text-8xl lg:text-center mb-12 lg:px-16 font-bold"
        >
          <p>PLAYSTATION, VR BÉRLÉS</p>
        </div>
        <div>
          <div
            class="text-m text-center lg:text-2xl lg:text-center text-center text-xl mb-2"
          >
            <span
              >PlayStation konzolokat és VR szemüvegeket bérelheted, hogy
              otthonod kényelmében élvezhesd a játékok világát.</span
            >
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-4">
        <div class="animate-pulse">
          <img src="./kontrol.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto">
    <div class="text-center text-5xl lg:text-7xl mb-4 font-bold">ESZKÖZÖK</div>
    <div class="text-center text-4xl mb-4 font-bold">Playstation 5 Slim</div>
    <div class="text-center text-2xl text-base">
      <div>
        <p>
          A <span class="font-bold">PlayStation 5 (Slim)</span> a Sony egyik
          legújabb konzolja, amely a csúcstechnológiát kompakt kivitelben hozza
          el neked.
        </p>
        <p>
          Erőteljes hardverének köszönhetően villámgyors betöltési időket,
          lenyűgöző 4K grafikát és élethű játékélményt kínál.
        </p>
        <p>
          A konzol dizájnja karcsúbb, mint valaha, így tökéletesen illeszkedik
          bármilyen térbe, miközben teljesítménye változatlanul kiemelkedő.
        </p>
        <p>
          Légy te is részese a játékélménynek a
          <span class="font-bold">PlayStation 5 (Slim)</span> segítségével!
        </p>
        <p class="font-bold">
          Bérelj most, és merülj el a játékok világában egyszerű és kedvező
          feltételekkel.
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32">
    <div class="flex md:flex-row flex-col gap-6 justify-center">
      <div class="mb-2">
        <img src="./psimg.png" alt="" />
      </div>

      <div>
        <div>
          <span class="text-3xl font-bold">Playstation 5 Slim </span>
          <p>
            <span class="font-bold">Jellemzők:</span>
          </p>

          <ul>
            <li>- 1 TB tárhely</li>
            <li>- 4K kijelző</li>
            <li>- GDDR6 SSD</li>
            <li>- DualSense kontroller</li>
            <li>- Kompakt dizájn</li>
          </ul>
          <p>Villámgyors betöltési idők és váltás a játékok között.</p>

          <span class="font-bold">Kiegészítők:</span>
          <ul>
            <li>- Egy kontroller</li>
          </ul>

          <p></p>
        </div>
      </div>

      <div class="">
        <div class="flex justify-center">
          <button
            routerLink="/home"
            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] text-xl rounded-full px-8 py-4 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
          >
            ÉRDEKEL
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32">
    <div class="text-center text-4xl mb-4 font-bold">Playstation VR2</div>
    <div class="text-center text-2xl text-base">
      <div>
        <p>
          Merülj el a virtuális valóság lenyűgöző világában a
          <span class="font-bold">PlayStation VR2</span> segítségével.
        </p>
        <p>
          Tökéletes választás, ha egy igazán magával ragadó és interaktív
          kalandra vágysz.
        </p>
        <p>
          A fejlett technológia, a lenyűgöző képminőség és a kényelmes
          kialakítás garantálja, hogy minden pillanatban úgy érezd, mintha egy
          másik világban lennél.
        </p>
        <p class="font-bold">
          Bérelj most, és merülj el a játékok világában egyszerű és kedvező
          feltételekkel.
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32">
    <div class="flex md:flex-row flex-col gap-6 justify-center">
      <div class="mb-2">
        <img src="./psimg.png" alt="" />
      </div>

      <div>
        <div>
          <span class="text-3xl font-bold">Playstation VR2 </span>
          <p>
            <span class="font-bold">Jellemzők:</span>
          </p>

          <ul>
            <li>- 4K HDR kijelző</li>
            <li>- 120 Hz frissítési sebesség</li>
            <li>- Fejlett szemkövetés</li>
            <li>- Haptikus visszacsatolás</li>
            <li>- Könnyű és kényelmes kialakítás</li>
          </ul>
          <p></p>
        </div>
      </div>

      <div class="">
        <div class="flex justify-center">
          <button
            routerLink="/home"
            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] text-xl rounded-full px-8 py-4 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
          >
            ÉRDEKEL
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32">
    <div class="text-center text-5xl mb-2 font-bold">Játékok</div>
    <div class="text-center text-2xl text-base">
      <div>
        <p>
          Nálunk nemcsak a PlayStation konzolokat és VR eszközöket bérelheted,
          hanem játékokat is igényelheted mellé.
        </p>
        <p>Válogass kínálatunkból.</p>
        <p>
          Nincs más dolgod, mint a bérléskor jelezni, melyik játékot szeretnéd.
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 my-12 lg:pt-32 lg:my-20">
    <div class="flex md:flex-row flex-col gap-6 justify-center">
      <div>
        <div>
          <span class="text-5xl">Játékok keresése: </span>
        </div>
      </div>

      <div class="">
        <div class="mb-4">
          <input
            class="shadow appearance-none border bg-[#EEEEEE] opacity-60 rounded-full w-full py-2 px-4 mt-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            [(ngModel)]="searchTerm"
            (input)="search()"
            placeholder="keresés"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <div class="relative overflow-hidden">
      <div
        class="flex transition-transform duration-300 ease-in-out"
        #carouselContainer
      >
        <div
          *ngFor="let item of filteredItems"
          class="flex-none w-64 mx-2 my-4"
        >
          <img
            [src]="item.imageUrl"
            alt="item.title"
            class="w-full h-70 object-cover rounded-lg"
          />
          <h3 class="mt-2 text-center text-lg font-semibold">
            {{ item.title }}
          </h3>
          <div class="flex flex-wrap justify-center mt-2">
            <span
              *ngFor="let tag of item.tags"
              class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
              >{{ tag }}</span
            >
          </div>
        </div>
      </div>
      <button
        (click)="slidePrevious()"
        class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-lg"
        [class.invisible]="currentIndex === 0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button
        (click)="slideNext()"
        class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-lg"
        [class.invisible]="currentIndex === filteredItems.length - 1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32">
    <div class="text-center text-5xl lg:text-6xl mb-2 font-bold">
      Rendezvények
    </div>
    <div class="text-center text-2xl text-base">
      <div class="leading-relaxed">
        <p class="font-bold text-3xl lg:text-4xl">
          A Rentzone rugalmas megoldásokat kínál rendezvényekhez
        </p>
        <p>
          Biztosítjuk a PlayStation és VR eszközök kiszállítását és
          elszállítását.
        </p>
        <p class="font-bold text-4xl pt-8 lg:pt-16">Áraink</p>
        <p>Napi díj: 15.000 Ft/PlayStation/Vr2 szemüveg</p>
        <p>A napi díj tartalmaz 3 választható játékot</p>
        <p>Szállítási információk</p>
        <p>Országos szállítás: 5.000 Ft</p>
        <p>Pest megyén belüli szállítás: 2000 Ft</p>
        <p>
          Szolgáltatásainkkal célunk, hogy kényelmesen és egyszerűen biztosítsuk
          a rendezvényénekszórakoztatási hátterét.
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-16">
    <div class="text-center text-3xl lg:text-5xl mb-2 font-bold">
      Keressen minket bizalommal további információkért vagy egyedi igények
      esetén.
    </div>
    <div>
      <div class="text-center text-2xl text-base">
        <div class="justify-center flex mb-4">
          <div class="w-32 mx-auto mt-4">
            <img class="w-full h-full object-contain" src="./logo.png" alt="" />
          </div>
        </div>
      </div>
      <div class="md:w-96 mt-6 mx-auto">
        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Keresztnév*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Keresztnév"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Vezetéknév*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Vezetéknév"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Email*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Email"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Tárgy*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Tárgy"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Melléklet*
          </label>
          <textarea
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
          ></textarea>
        </div>

        <div class="mb-4">
          <label class="block text-white font-bold">
            <input
              class="mr-2 leading-tight bg-gray-500 fill-gray-500"
              type="checkbox"
            />
            <span class="text-xs">
              Elfogadom az Adatvédelmi és adatkezelési nyilatkozatot
            </span>
          </label>
        </div>

        <div class="flex justify-center">
          <button
            routerLink="/rent"
            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold bg-[position:100%_100%,0_100%] bg-no-repeat text-[#0A6222] transition-[background-size,color] duration-500 hover:bg-[0_2px,100%_2px] hover:text-[#84B067]"
          >
            ELKÜLDÉS
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32">
    <div class="text-center text-5xl mb-2 font-bold">Kiszállítás</div>
    <div class="text-center text-2xl text-base">
      <div class="pt-8 lg:pt-14 text-xl leading-loose">
        <p>
          A RentZone a PlayStation konzolok, Vr szemüvegek és játékok
          szakértője! Nálunk PlayStation 5 modelltől a Vr2 szemüvegen át
          beletekinthetsz a virtuális valóságba
        </p>
        <p>
          Kiszállítás: Pest vármegyében! (Egyedi kérés esetén országosan)
          Szállítás díja: 2000 Ft (Oda-vissza) Országos szállítás díja: 5000 Ft
          (Oda-vissza)
        </p>
        <p>Minden PlayStation gondosan becsomagolva, érkezik meg.</p>
        <p>
          Kényelmes fizetési módok: Fizessen bankkártyával online vagy akár
          személyesen átvételkor!
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto pt-8 lg:pt-32" id="kapcsolat">
    <div class="text-center text-5xl mb-2 font-bold">
      Lépj velünk kapcsolatba
    </div>
    <div class="text-center text-2xl text-base">
      <div class="pt-8 lg:pt-14 text-xl leading-loose">
        <p>
          Örömmel állunk rendelkezésére, kérdése merült fel vagy szeretne
          bérelni keressen minket bizalommal!
        </p>
        <p>- Telefon: +36 1 234 5678</p>
        <p>- E-mail:info&#64;rentzone.hu</p>
        <p>Ügyfél szolgálat nyitvatartása: Hétfőtől Péntekig : 09:00-17:00</p>
      </div>
    </div>
  </div>
</div>
