<div class="container mx-auto px-10">
  <div class="text-white mx-auto px-8">
    A
    <span class="text-green-700">RENTZONE</span>-nál hiszünk a rugalmasságban
    ezért is úgy hoztuk létre a bérlési lehetőségeinket hogy bárki igényeit ki
    tudja szolgálni mint például a
    <span class="font-bold">
      Hétvégi csomag,Heti csomag,Két heti csomag, Havi csomag,Egyedi csomag
    </span>
    (Vállalkozásoknak,rendezvényeknek, magánszemélyeknek) Kiszállítás
    <span class="font-bold">csak</span>
    Pest vármegyén belül, kivéve az egyedi igények Minden konzolunkhoz kell
    kaukciót biztosítani ami 50.000 Forint, ami Tagsági kártyával csökkenthető
    Minden playstation amit tőlünk bérbe vesznek rendelkezik a
    <span class="font-bold">PlayStation Plus Premium</span>
    funkcióival
  </div>

  <div class="mt-4 flex flex-col gap-4">
    <div class="flex text-white border-t border-white p-6">
      <div class="px-2">
        <div class="flex gap-2 items-center justify-center mb-2">
          <div class="text-xl font-extrabold">
            Rugalmas csomag - 15.000 FT + KAUCIÓ
          </div>
          <div>
            <button
              routerLink="/user/rent-services"
              class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold"
            >
              ÉRDEKEL
            </button>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col gap-2 text-center px-4">
            <p>
              A Rugalmas csomagunkat azoknak terveztük, akik teljes szabadságot
              szeretnének a bérlés időtartamában.
              <br /><span class="font-bold"
                >Playstation Plus Premium a csomagban</span
              >
              <br />Ezzel a csomaggal akár 1 napra, akár hosszabb időszakra is
              kibérelheti a PlayStation/Vr-t – teljes mértékben az Ön igényeire
              szabva. Tökéletes megoldás, ha csak egy gyors játékestet szervez.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex text-white border-t border-white p-6">
      <div class="px-2">
        <div class="flex gap-2 items-center justify-center mb-2">
          <div class="text-xl font-extrabold">
            Hétvégi csomag - 20.000 FT + KAUCIÓ
          </div>
          <div>
            <button
              routerLink="/user/rent-services"
              class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold"
            >
              ÉRDEKEL
            </button>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col gap-2 text-center px-4">
            <p>
              A Hétvégi csomagunk keretében a Konzolt/Vr-t
              <span class="font-bold">pénteken</span> szállítjuk ki, hogy akár
              pénteken élvezhesd a játékot.
              <span class="font-bold"
                >Playstation Plus Premium a csomagban</span
              >
              A hétvégi szórakozás után futárunk
              <span class="font-bold">hétfőn</span> érkezik a készülékért, hogy
              csak az élményre koncentrálhass.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex text-white border-t border-white p-6">
      <div class="px-2">
        <div class="flex gap-2 items-center justify-center mb-2">
          <div class="text-xl font-extrabold">
            1 Hét csomag - 25.000 FT + KAUCIÓ
          </div>
          <div>
            <button
              routerLink="/user/rent-services"
              class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold"
            >
              ÉRDEKEL
            </button>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col gap-2 text-center px-4">
            <p>
              A Heti csomagunkkal egy teljes hétre biztosítjuk a Konzolt/Vr-t,
              hogy korlátlanul élvezhesd a játék örömét.
              <span class="font-bold"
                >Playstation Plus Premium a csomagban</span
              >
              Ön által választott naptól számítva, összesen 7 napig élvezheti a
              Konzolt/Vr-t, amit a futárunk kézbesít/elhozza öntől, hogy csak a
              kikapcsolódásra koncentrálhasson.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex text-white border-t border-white p-6">
      <div class="px-4">
        <div class="flex gap-2 items-center justify-center mb-2">
          <div class="text-xl font-extrabold">
            2 Hét csomag - 30.000 FT + KAUCIÓ
          </div>
          <div>
            <button
              routerLink="/user/rent-services"
              class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold"
            >
              ÉRDEKEL
            </button>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col gap-2 text-center px-4">
            <p>
              A Két Hetes csomagunk tökéletes választás, ha hosszabb időre
              szeretnél belemerülni a játékélménybe.
              <span class="font-bold"
                >Playstation Plus Premium a csomagban</span
              >
              Ön által választott naptól számítva, összesen 14 napig élvezheti a
              Konzolt/Vr-t, amit a futárunk kézbesít/elhozza öntől, hogy csak a
              kikapcsolódásra koncentrálhasson.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex text-white border-t border-white p-6">
      <div class="px-2">
        <div class="flex gap-2 items-center justify-center mb-2">
          <div class="text-xl font-extrabold">
            1 Hónap csomag - 40.000 FT + KAUCIÓ
          </div>
          <div>
            <button
              routerLink="/user/rent-services"
              class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold"
            >
              ÉRDEKEL
            </button>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col gap-2 text-center px-4">
            <p>
              A Havi csomagunkkal egy egész hónapon át élvezheted a Konzolok/Vr
              nyújtotta szórakozást.
              <span class="font-bold"
                >Playstation Plus Premium a csomagban</span
              >
              Ön által választott naptól számítva, összesen 30 napig élvezheti a
              Konzolt/Vr-t, amit a futárunk kézbesít/elhozza öntől, hogy csak a
              kikapcsolódásra koncentrálhasson.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col text-white border-2 border-white py-6 px-6 md:px-20 rounded-60"
    >
      <div class="mb-2 text-xl font-extrabold w-full text-center">
        Egyedi csomag
      </div>

      <div class="flex flex-col gap-2 mb-8 text-center">
        <p>
          Az Egyedi csomagunkat úgy alakítjuk, hogy teljes mértékben igazodjon
          az igényeidhez.
        </p>
        <p>
          El döntheted, hogy mikor érkezzen a Konzol/Vr, és meddig szeretnéd
          használni.
        </p>
        <p>
          Futárunk a megbeszélt időpontban szállítja ki, majd ugyanilyen
          rugalmassággal veszi vissza a készüléket.
        </p>
        <p>
          Ez a csomag ideális, ha különleges időzítésre vagy egyedi megoldásra
          van szükséged.
        </p>
        <p>
          Tökéletes választás rendezvényekhez, céges eseményekhez, vagy
          bármihez, ahol a szórakoztatás központi szerepet kap.
        </p>
      </div>

      <div class="mb-2 text-xl font-extrabold w-full text-center">
        Ne habozz írj nekünk
      </div>

      <div class="text-center">
        Bízunk benne, hogy közösen megtaláljuk a legjobb megoldást az ön egyedi
        igényeire. Mi mindig nyitottak vagyunk új ötletekre, és rugalmasan
        alkalmazkodunk, hogy teljes mértékben elégedett lehessen.
      </div>

      <div class="w-32 mx-auto mt-4">
        <img src="logo.png" class="w-32 h-32" alt="" />
      </div>

      <div class="md:w-96 mt-6 mx-auto">
        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Keresztnév*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Keresztnév"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Vezetéknév*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Vezetéknév"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Email*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Email"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Tárgy*
          </label>
          <input
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Tárgy"
          />
        </div>

        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2" for="username">
            Melléklet*
          </label>
          <textarea
            class="shadow appearance-none border bg-white rounded w-full py-2 px-2 text-[#2b2828] leading-tight focus:outline-none focus:shadow-outline"
            id="username"
          ></textarea>
        </div>

        <div class="mb-4">
          <label class="block text-white font-bold">
            <input
              class="mr-2 leading-tight bg-gray-500 fill-gray-500"
              type="checkbox"
            />
            <span class="text-xs">
              Elfogadom az Adatvédelmi és adatkezelési nyilatkozatot
            </span>
          </label>
        </div>

        <div class="flex justify-center">
          <button
            routerLink="/rent"
            class="bg-[#EEEEEE] opacity-60 text-[#0A6222] rounded-full px-4 py-1.5 font-extrabold"
          >
            ELKÜLDÉS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>